body {
  /*background: url("/images/books.jpg") no-repeat center center fixed;
  background: url("/images/bookshelf.jpg") no-repeat center center fixed;
  background: url("/images/bibleOnBench.jpg") no-repeat center center fixed;*/
  background: url("/images/booksInTheAir.jpg") no-repeat center center fixed;
  /*background: url("/images/breakfastReading.jpg") no-repeat center center fixed;*/
  /*background: url("/images/coupleReading.jpg") no-repeat center center fixed;*/
  /*background: url("/images/kidReading.jpg") no-repeat center center fixed;*/
  background-size: cover;
  padding: 50px;
  font: 14px "Helvetica", Helvetica, Arial, sans-serif;
  color: #fff;
}

.titleText{
  color: #fff;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn-block {
  width: 30%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
  padding: 2%;
}

.storeContainer {
  display: flex;
  flex-direction: row;
}

.bookContainer {
  margin-right: 2%;
  width: 30%;
}

.bookCover {
  width:230px;
  height:346px;
}
.bookText {
  margin-top: 5%;
  height: 6em;
}

p {
  color: #205067;
}

li {
  list-style-type: none;
}
h4 {
  color: black;
}

.form-group {
  color: black;
}

/*css for our carousel*/
.d-block {
  height: 200px;
  width: auto;
}
